<!DOCTYPE html>
<html lang="en"  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <header>
            <h2>CRM - Customer Relationship Manager</h2>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dropdown button
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <form th:action="@{/logout}" method="post">
                        <button class="dropdown-item" type="submit">Logout</button>
                    </form>
                </div>
            </div>


        </header>
        <form th:action="@{/employee/add}">
            <div th:if="${success}" th:text="${success}"></div>
            <div th:if="${error}" th:text="${error}"></div>
            <button type="submit" class="btn btn btn-primary">Add Customer</button>
            <div class="top">Danh sách nhân viên của bạn</div>
            <div class="main">
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Fist Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr th:each="employee : ${list}">
                        <th scope="row" th:text="${employee.firstName}">1</th>
                        <td th:text="${employee.lastName}">Mark</td>
                        <td th:text="${employee.email}">Otto</td>
                        <td>
                            <a href="" th:href="@{/employee/edit/{id}(id=*{employee.id})}">Update</a>
                            | <a th:href="@{/employee/delete/{id}(id=*{employee.id})}" href="#">Delete</a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
            </div>
        </form>
    </div>
</body>
</html>